 {
          font-size: 15px;
      }
      body {
          background-color:#8d99aeff;
      }
      table {
          background-color: aliceblue;
          width: fit-content;
          width: 100%;
          border: thin solid black;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
      }

      table th {
          text-align: left;
          padding: 3px;
          padding-bottom: 0;
      }

      table td {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 3px;
          padding-bottom: 0;
      }
      th, td {
          border-left: thin solid black;
          border-right: thin solid black;
          border-top: thin solid black;
          border-bottom: thin solid #6f6f6f;
      }
      th.active-row {
          font-weight: bold;
          color: #edf2f4ff !important;
      }

      .form-select {
          background-color: #edf2f4ff;
      }
      .form-control{
          background-color: #edf2f4ff;
      }
